#mc_embed_signup{
    padding: 20px;
    padding-left: 10%;
    margin-top: 50px;
    font-size: 50px;
}

#mce-EMAIL{
    height: 30px;
    width: 40vw;
    font-family: PixelOperator;
    border-radius: 5px;
    background-color: black;
    color: white;
}

.mc-field-group{
    display: flex;
}

#mc-embedded-subscribe{
    font-family: PixelOperator;
    height: 36px;
    width: 80px;
    position: absolute;
    border-radius: 5px;
}
